.akapit::before {
    /* wymagany jest content nawet jesli jest pusty musi być '' */
    content: 'PRZED TEKSTEM';
    color: red;
}

.akapit::after {
    /* wymagany jest content nawet jesli jest pusty musi być '' */
    content: 'PO TEKSCIE';
    color: red;
}

.akapit::first-line {
    color:blue;
}

/* ********************* */
.customer-list__item {
    color: blueviolet;
    font-weight: bold;
}

/* When using first-child best to put those child elements into a div */
.customer-list__item:first-child {
    color: grey;
    background-color: bisque;
}

.customer-list__item:nth-child(6) {
    color:red;
}

.customer-list__item:nth-child(3n+4){
    color: green;
}

/* ********************* */

input:focus {
    border: 1px solid red;
    border-radius: 15px;
}

button:hover{
    background-color: cadetblue;
}

button:active {
    background-color: crimson;
}
